# Output directory
build/

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# MongoDB data export files
*.mongodb.json

# File created by @shelf/jest-mongodb
globalConfig.json

# Code coverage
coverage/

# Links, Notes files
links.txt
notes.txt
